// Breakpoints
$bp-sm: 320px;
$bp-md: 480px;
$bp-lg: 768px;

// Colours
$grey: #3a4155;
$lightGrey: lighten($grey, 10%);
$lighterGrey: #dfe0ed;
$darkGrey: darken($grey, 10%);
$red: #F00;
$white: #FFF;
$green: #0F0;
